<div style="<%= "height: 60px;" unless (params[:controller]=="home" && params[:action] =="index")%>">
</div>

<nav class="navbar <%="navbar-default" unless params[:controller]=="home" && params[:action]=="index"%> navbar-fixed-top" id="header" role="navigation" style=" <%= "background: #8ba987;" unless (params[:controller]=="home" && params[:action]=="index")%>">
    <div class="container">
        <% if (params[:controller]=="home" && params[:action]=="index")%>
            <div id="header-background" ></div>
        <% end %> 
        <div id="logo" class="pull-left nav-info">
            <%= link_to (image_tag("insite-logo.png")),root_path %>
        </div>
        <div id="nav" class="pull-right nav-info">
            <% if !user_signed_in? %>
                <%= link_to "Log In", new_user_session_path, class:"btn btn-default"%>
                <%= link_to "Sign Up", new_user_registration_path , class:"btn btn-warning"%>
            <% else %>
                <div class="dropdown">
                    <ul class="nav navbar-nav navbar-right">
                        <div class="dropdown">
                            <a class="btn btn-default" data-toggle="dropdown" data-target="#" srole="button">
                                <div id="user-name" class="clip">
                                    <%= "#{current_user.name.titleize}" %>
                                </div>
                                <div>
                                      ▼
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li role="presentation"> 
                                    <%= link_to user_path(current_user), :tabindex=>"-1" do %>
                                    <span class="glyphicon glyphicon-user"></span>
                                    Your Profile
                                    <% end %>
                                </li>       
                                <li role="presentation"> 
                                    <%= link_to user_interviews_path(current_user), :role=>"menuitem", :tabindex=>"-1" do %>
                                        <span class="glyphicon glyphicon-book"></span> Your Interviews
                                    <% end %>
                                </li>     

                                <li role="presentation" class="divider"></li>
                                <li role="presentation"> 
                                    <%= link_to new_user_interview_path(current_user), :role=>"menuitem", :tabindex=>"-1" do %>
                                        <span class="glyphicon glyphicon-th-list "></span> New Interview
                                    <% end %>
                                </li>
                                <li role="presentation" > 
                                    <%= link_to users_path ,:role=>"menuitem", :tabindex=>"-1" do %>
                                        <span class="glyphicon glyphicon-th-list "></span> All Users
                                    <% end %>
                                </li> 
                                <li role="presentation" > 
                                    <%= link_to companies_path ,:role=>"menuitem", :tabindex=>"-1" do %>
                                        <span class="glyphicon glyphicon-th-list "></span> All Companies
                                    <% end %>
                                </li> 
                                <li role="presentation" > 
                                    <%= link_to "" ,:role=>"menuitem", :tabindex=>"-1" do %>
                                        <span class="glyphicon glyphicon-th-list "></span> About Us
                                    <% end %>
                                </li> 
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"> 
                                    <%= link_to destroy_user_session_path , method: :delete, :role=>"menuitem", :tabindex=>"-1" do %>
                                        <span class="glyphicon glyphicon-off"></span> Log Out
                                    <% end %>
                                </li> 
                            </ul>
                        </div>
                    </ul>
                </div>  
            <% end %>
        </div>
    </div>
</nav>