<div id="header">
		<!-- for transparent header background -->
		<div id="background"></div>
        <div id="content" class="row" style="<%= "background: #399996; width: 100%; height: 80px; margin:0;" unless params[:controller]=="home"%>">
				<div id="logo" class="pull-left" style="margin-left: 10px; height: 100%">
				<%= image_tag("insite-logo.png") %>
				</div>
				<div id="nav" class="pull-right" style="margin-top: 30px; margin-right: 10px; height: 100%">
					
						<% if !user_signed_in? %>
							<%= link_to "Log In", new_user_session_path, class:"btn btn-lg btn-default"%>
							<%= link_to "Sign Up", new_user_registration_path , class:"btn btn-lg btn-warning"%>
						<% else %>
							<%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"btn btn-lg btn-warning" %>
						<% end %>
						
				
				</div>
        </div>
    </div>