<div class="content">
    <div id="title" style="margin:0 auto; width:80%; text-align:center; margin-bottom:2%;">
        <h1>Relevant People</h1>
    </div>
    <div id ="result" style="margin:0 auto; width:80%;">
        <div style="width:80%; margin: 0 auto;">
            <% if @searchResult.present? %>
                <% @searchResult.each do |user| %>
                <div class="user_profile" >
                    <%= default_picture(user) %>
                    <div class="name">
                        <%= user.name %>
                    </div>
                    <div class="position">
                        <%= user.program %>
                     </div>
                </div>
                <% end %>
            <% end %>
        </div>
<!--         <% if @companies.present? %>
            <% @companies.each do |company| %>
                        <div class="profile">
                <h3 class="name">
                    <%= company.name %>
                </h3>
                <h4 class="position">
                    <%= company.industry %>
                 </h4>
            </div>
            <% end %>
        <% end %>
        <% if @interviews.present? %>
            <% @interviews.each do |interview| %>
                <div class="profile">
                <h3 class="name">
                    <%= interview.company_name %>
                </h3>
                <h4 class="position">
                    <%= interview.position %>
                 </h4>
            </div>
            <% end %>
        <% end %> -->
    </div>
<%= will_paginate (@searchResult) %>
</div>


<!--<%= link_to 'New User', new_user_path %>-->

