<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="form-content" class="row">
		<!-- add span 1 as placeholder -->
		<div class = "col-md-3"></div>
		
		<div class = "register-form col-md-6">
				<div class="form-group">
					<%= f.text_field :name, class:"form-control input-lg", placeholder:"Full Name"%>
				</div>
				<div class="form-group">
					<%= f.email_field :email, :autofocus => true, class:"form-control input-lg", placeholder:"Your UTOR email address" %>
				</div>
				<div class="form-group">
					<%= f.number_field :year, class:"form-control input-lg", placeholder:"Graduating Year"%>
				</div>
				<div class="form-group">
					<%= f.number_field :year, class:"form-control input-lg", placeholder:"Graduating Year"%>
				</div>
				<div class="form-group">
					<%= f.text_field :faculty, class:"form-control input-lg", placeholder:"Program"%>
				</div>
				<div class="form-group">
					<%= f.number_field :phone , class:"form-control input-lg", placeholder:"Phone Number (Optional)"%>
				</div>
				<form>
				<div class=" form-group">
					<%= f.submit "Sign up", class:"btn btn-lg btn-warning pull-right"%>
				</div>
				<!-- <div><%= f.submit "Submit" %></div> -->
		</form>
			</div>
<div class="field">
    Full Name<br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    Graduating Year<br />
    <%= f.number_field :year %>
  </div>
  <div class="field">
    Program of Study<br />
    <%= f.text_field :program %>
  </div>
  <div class="field">
    <%= f.label :faculty %><br />
    <%= f.text_field :faculty %>
  </div>
  <div class="field">
    <%= f.label :phone %>(Optional)<br />
    <%= f.number_field :phone %>
  </div>
  <!--<div class="field">
    <%= f.label :registerterms %><br />
    <%= f.check_box :registerterms %>
  </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
