<% if @user.errors.any? %>
  <div id="error_explanation" class="center text-centered">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul style="margin-bottom: 30px; list-style:none;">
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="content row" id="user_edit">
  <!-- add span 1 as placeholder -->
  <div class = "col-md-3"></div>
  
  <div class = "col-md-6">
    <div id="edit-user-form" class="center">
        <div id="edit-user-background" class="shadow"></div>
        <div id="edit-user-content">
          <!-- title -->
          <div class="center" style="text-align:center;" >
            <div><h1 style="font-size: 30px;"> User Profile  </h1></div>
          </div>

          <%= form_for(@user) do |f| %>
            <div class="form-group row">
              <label class="col-xs-4 control-label">Full Name</label>
              <div class="col-xs-8">
                <%= f.text_field :name, id:"user_name", class:"form-control", placeholder:"Full Name" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-xs-4 control-label">Email</label>
              <div class="col-xs-8">
                <%= f.email_field :email, id:"user_email",class:"form-control", placeholder:"UTOR email address" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-xs-4 control-label">Graduating Year</label>
              <div class="col-xs-8">
                <%= f.number_field :year, id:"user_year",class:"form-control", placeholder:"Graduating Year", min:"1990", max:"2030" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-xs-4 control-label">Faculty</label>
              <div class="col-xs-8">
                <%= f.text_field :faculty, id:"user_faculty", class:"form-control", placeholder:"Faculty" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-xs-4 control-label">Program</label>
              <div class="col-xs-8">
                <%= f.text_field :program, class:"form-control", id:"user_program", placeholder:"Program" %>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-xs-4 control-label">Phone</label>
              <div class="col-xs-8" id="user_phone">
                <%= f.telephone_field :phone , class:"form-control", placeholder:"Phone Number (Optional)"%>
              </div>
            </div>  
            <div class=" form-group"> 
              <%= f.submit "Submit", class:"btn btn-lg btn-warning pull-right btn-submit", id:"btn-user-edit"%>

            </div>

            <!-- <div><%= f.submit "Submit" %></div> -->
          <% end %>
        </div>
      </div>
    </div>
  <div class = "col-md-3"></div>
</div>
