<!--  <div class="content">
    <div id="title" class="text_center centered width80">
        <h1>Relevant People</h1>
    </div>
    <div id ="result" class="centered width80">
        <div class="centered width80">
            <% @users.each do |user| %>
                <span class="user_profile text-center" >
                    <%= default_picture(user) %>
                    <div class="name">
                        <%= user.name %>
                    </div>
                    <div class="position">
                        <%= user.program %>
                     </div>
                </span>
            <% end %>
        </div>
    </div>
<%= will_paginate (@users) %>
</div>  --> 

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
            <h1> People at UofT </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <% if !@users.nil? %>
            <% @users.each do |user| %>
            <div class="col-md-3 text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <%= default_picture(user) %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 border2 user-profile">
                        <%= user.name %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 border2 user-profile">
                        <%= user.program %>
                    </div>
                </div>
            </div>
            <% end %>
        <% end %>
        </div>

    </div>
    <%= will_paginate (@users) %>
</div>