<!-- <p id="notice"><%= notice %></p> -->
<div style="height:100%; width:100%; border:3px solid black;">
  <%= gravatar_for @user %>
  <%= @user.name %> | 
  <% if can? :manage, @user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', :back %> | <%= "Is an admin" if @user.admin? %>
	<% end %>
</div>

<% if @interviews.present? %>
	<p>
	<% if is_current_user(@user) %>
	You have
	<% else %>
		<%= @user.name %> has
	<% end %>
	 <%= @interviews.count %> <%="interview".pluralize(@interviews.size)%> coming up!</p>

		<b> 	
	<% if is_current_user(@user) %>
	Your
	<% else %>
		<%= @user.name %>'s
	<% end %> next interview is on <%= @user.next_interview.get_date if @user.next_interview.is_scheduled?%></b>

	<!-- Need to move above ruby code into controller or model, also make code cleaner. -->
	<% @interviews.each do |interview| %>

		<p><%= interview.position%> @ <%= interview.company_name %> <%= "scheduled on " + interview.get_date unless !interview.is_scheduled? %></p> 

	<% end %>
<% else %>
<p>
	<% if is_current_user(@user) %>
		<%= link_to "Schedule an interview here!", new_interview_path %>
	<% else %>
		Nothing to do here.
	<% end %>
	</p>
<% end %>
	
<h1>Listing interviews</h1>

<table>
  <tr>
    <th>Company name</th>
    <th>Position</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @interviews.each do |interview| %>
  <tr>
    <td><%= interview.company_name %></td>
    <td><%= interview.position %></td>
    <td><%= link_to 'Show', interview_path(interview)%></td>
    <% if can? :manage, interview %>
    <td><%= link_to 'Edit', edit_interview_path(interview) %></td>
    <td><%= link_to 'Destroy', interview, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>

</table>

<br />
<% if is_current_user(@user) %>
<%= link_to 'New Interview', new_interview_path %>
<% end %>
<br/>




