<p id="notice"><%= notice %></p>
<div style="height:100%; width:100%; border:3px solid black;">
  <%= gravatar_for @user %>
  <%= @user.name %>
</div>

<%= link_to "My Interviews", interviews_path %>




<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
