<div id="container" class="width60 text-center centered">

  <table class="width100" cellspacing="0">
    <tr>
      <td id="profile_picture" class="inline_block">
      <%= default_picture @user %>
      </td>
      <td class="profile_info">
        <li>
          <ul>
            <%= @user.name %>
          </ul>
          <ul>
            <%= @user.program %>
          </ul>
          <ul>
            Class of <%= @user.year %>
          </ul>
        </li>

      </td>
      <td class="profile_info">
        <li>
          <ul>
            <%= @user.email %>
          </ul>
          <ul>
            <%= @user.faculty %>
          </ul>
          <% if can? :manage, @user %>
          <a href="<%=edit_user_path(@user)%>" >
            <ul>
              <span></span>Edit Profile
            </ul>
          </a>
          <% else %>
            <ul>
            </ul>
          <% end %> 
        </li>       
      </td>
    </tr>


  </table> 

</div>

        

<div class="user_interviews width60 centered text-center border2"> 
  <h3>
    Upcoming Interviews
  </h3>
  <% @user.active_interviews[0,3].each do |interview| %>
    <p>
    <a href="<%= user_interview_path(@user,interview) %>" class="interview_item">
      <%= current_user==@user ? "You have an interview at " : "#{@user.name} has an interview at" %> <%= interview.company_name %> for a <%= interview.interview_type %> <%= interview.position %> position  on <%= interview.get_date %>
      </a>
    </p>
  <% end %>
  <div>
  <% if current_user==@user %>
    <% if !@user.active_interviews.empty? %>
    <%= link_to "See All Upcoming Interviews", user_interviews_path(current_user) %>
    or
    <% end %>
    <%= link_to "Schedule a New Interview Here", new_user_interview_path(current_user) %>
   <% end %>
  </div>
</div>

<% if !@user.finished_interviews.empty? %>
  <div class="user_interviews width60 centered text-center border2"> 
    <h3>
      Past Interviews
    </h3>
    <% @user.finished_interviews[0,3].each do |interview| %>
      <p>
        <a href="<%= user_interview_path(current_user,interview) %>" class="interview_item">
        <%= current_user==@user ? "You had an interview at " : "#{@user.name} had an interview at" %> <%= interview.company_name %> for a  <%= interview.position %> position [<%= interview.interview_type %>] on <%= interview.get_date %>
        </a>
      </p>
    <% end %>
    <div>
        <%= link_to "See All Past Interviews", user_interviews_path(current_user) %>
    </div>
  </div>
<% end %>

<!-- <div class="user_interviews"> 
  <h3>
    Work Experience
  </h3>
  <div>
    <% @user.work_experiences.each do |interview| %>
    <p>
      <%= current_user==@user ? "You worked at " : "#{@user.name} worked at" %> <%= interview.company_name %> as a <%= interview.position %> position[<%= interview.interview_type %>]
    </p>
  <% end %>
  </div>
</div> -->





