<div id="container" class="width60 text-center centered">

  <table class="width100" cellspacing="0">
    <tr>
      <td id="profile_picture" class="inline_block">
      <%= default_picture @user %>
      </td>
      <td class="profile_info">
        <li>
          <ul>
            <%= @user.name %>
          </ul>
          <ul>
            <%= @user.program %>
          </ul>
          <ul>
            Class of <%= @user.year %>
          </ul>
        </li>

      </td>
      <td class="profile_info">
        <li>
          <ul>
            <%= @user.email %>
          </ul>
          <ul>
            <%= @user.faculty %>
          </ul>
          <% if can? :manage, @user %>
          <a href="<%=edit_user_path(@user)%>" >
            <ul>
              <span></span>Edit Profile
            </ul>
          </a>
          <% else %>
            <ul>
            </ul>
          <% end %> 
        </li>       
      </td>
    </tr>


  </table> 

</div>


<div class="row">
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-md-4 border2">
        <div class="row border2">
          <div class="col-md-10 col-md-offset-1 border2">
          <%= @user.name %>
          </div>
          <div class="col-md-10 col-md-offset-1 border2">
          <%= @user.email %>
          </div>  
          <% if can? :manage, @user %>
            <a href="<%=edit_user_path(@user)%>" >
              <div class="col-md-10 col-md-offset-1 border2">
                Edit Profile
              </div>  
            </a>  
          <% end %>  
        </div>
      </div>
      <div class="col-md-4 border2">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 border2">
            <%= default_picture(@user) %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1 border2">
          <%= @user.name %>
          </div>
        </div>

        
      </div>
      <div class="col-md-4 border2">
        <div class="row border2">
          <div class="col-md-10 col-md-offset-1 border2">
          Faculty of <%= @user.faculty %>
          </div>
          <div class="col-md-10 col-md-offset-1 border2">
          <%= @user.program %> - Class of <%= @user.year %>
          </div>          
        </div>
      </div>
    </div>
  
  </div>
</div>





