<!-- <p id="notice"><%= notice %></p> -->
<div style="width:60%; margin: 5% auto; margin-bottom:2%; text-align:center;">

  <table style="width:100%;" cellspacing="0">
    <tr>
      <td id="profile_picture" style="border:2px solid black; display:inline-block;border-radius:100%; padding:1.5%;">
      <%= default_picture @user %>
      </td>
      <td class="profile_info">
        <li>
          <ul>
            <%= @user.name %>
          </ul>
          <ul>
            <%= @user.program %>
          </ul>
          <ul>
            Class of <%= @user.year %>
          </ul>
        </li>

      </td>
      <td class="profile_info">
        <li>
          <ul>
            <%= @user.email %>
          </ul>
          <ul>
            <%= @user.faculty %>
          </ul>
          <% if can? :manage, @user %>
          <a href="<%=edit_user_path(@user)%>" >
            <ul>
              Edit Profile
            </ul>
          </a>
          <% else %>
            <ul>
            </ul>
          <% end %> 
        </li>       
      </td>
    </tr>


  </table> 

</div>

        

<div class="user_interviews"> 
  <h3>
    Upcoming Interviews
  </h3>
  <% @user.active_interviews[0,3].each do |interview| %>
    <p>
    <a href="<%= interview_path(interview) %>" class="interview_item">
      <%= current_user==@user ? "You have an interview at " : "#{@user.name} has an interview at" %> <%= interview.company_name %> for a  <%= interview.position %> position [<%= interview.interview_type %>] on <%= interview.get_date %>
      </a>
    </p>
  <% end %>
  <div>
    <% if !@user.active_interviews.empty? %>
    <%= link_to "See All Upcoming Interviews", interviews_path %>
    or
    <% end %>
    <%= link_to "Schedule a New Interview Here", new_interview_path %>
  </div>
</div>

<% if !@user.finished_interviews.empty? %>
  <div class="user_interviews"> 
    <h3>
      Past Interviews
    </h3>
    <% @user.finished_interviews[0,3].each do |interview| %>
      <p>
        <a href="<%= interview_path(interview) %>" class="interview_item">
        <%= current_user==@user ? "You had an interview at " : "#{@user.name} had an interview at" %> <%= interview.company_name %> for a  <%= interview.position %> position [<%= interview.interview_type %>] on <%= interview.get_date %>
        </a>
      </p>
    <% end %>
    <div>
        <%= link_to "See All Past Interviews", interviews_path %>
    </div>
  </div>
<% end %>

<!-- <div class="user_interviews"> 
  <h3>
    Work Experience
  </h3>
  <div>
    <% @user.work_experiences.each do |interview| %>
    <p>
      <%= current_user==@user ? "You worked at " : "#{@user.name} worked at" %> <%= interview.company_name %> as a <%= interview.position %> position[<%= interview.interview_type %>]
    </p>
  <% end %>
  </div>
</div> -->


<!--
<hr/>
<% if is_current_user(@user) %>
<%= link_to 'New Interview', new_interview_path %>
<% end %>
<br/>  -->



