<p id="notice"><%= notice %></p>
<div style="height:100%; width:100%; border:3px solid black;">
  <%= gravatar_for @user %>
  <%= @user.name %>
</div>

<%= link_to "My Interviews", interviews_path %>
<% if !@interviews.nil? %>
	<p>You have <%= @interviews.count %> interviews coming up!</p>
	<% @interviews.each do |interview| %>
		<p><%= interview.position%> @ <%= interview.company_name %></p>
	<% end %>
<% else %>
	<p>Schedule an interview here!</p>
<% end %>
	
<br/>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
