<div class="container-fluid">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 border2 col-sm-10 col-sm-offset-1">
			<div class="row">
				<div class="text-center col-md-12 col-sm-12">
					<h1> Need some Interview Help?</h1>
					<small> Find the right people to help you!</small>
				</div>
			</div>
			<div class="row">	<!-- For the upcoming interviews-->
				<div class="container-fluid">
					<% if !@next_interviews.empty? %>
						<% @next_interviews.each do |interview| %>
							<div class="col-md-4 col-sm-4 upcoming-interview">
								<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 border2">
									<div class="row main-interview-info">
										<div class="container-fluid border2 next-info">
											<div class="row title">
												<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 text-center">
													<h3 id="upcoming-title"> Upcoming Interview </h3>
												</div>
											</div>
											<div class="row days-left">
												<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 border2 text-center" style="margin-bottom:10px;">
													<h4 class="upcoming-day" date="<%=interview.get_date%>">  </h4>
												</div>
											</div>
											<div class="row time" style="margin-bottom:10px;">
												<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 border2 text-center">
													<h4> <%= interview.interview_type %> </h4>
												</div>
											</div>
										</div>
									</div>
									<div class="row interview-info">
										<div class="container-fluid interview-container">
											<div class="row ">
												<div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 ">
												Company
												</div>
												<div class="col-md-6 col-sm-6">
												<%= interview.company_name %>
												</div>

												<div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1">
												Position
												</div>
												<div class="col-md-6 col-sm-6">
												<%= interview.position %>
												</div>

												<div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1">
												Date
												</div>
												<div class="col-md-6 col-sm-6">
												<%= interview.get_date %>
												</div>

												<div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1">
												Type
												</div>
												<div class="col-md-6 col-sm-6">
												<%= interview.interview_type %>
												</div>											

											</div>
										</div>
									</div>
									<div class="row text-center upcoming-interview-buttons">
										<div class="container-fluid">
											<div class="col-md-6 col-sm-6">
												<button type="button" class="btn btn-success"> Find Help </button>
											</div>

											<div class="col-md-6 col-sm-6">
												<a href="<%= edit_user_interview_path(current_user,interview)%>"><button type="button" class="btn btn-warning"> Edit </button> </a>
											</div>
										</div>
									</div>						
								</div>
							</div>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>