
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
			<div class="row">
				<% if !@next_interviews.empty? %>	<!-- Smaller headings when user does have interviews upcoming -->
					<div class="text-center col-md-12 col-sm-12 col-xs-12">
						<h1> Need some Interview Help?</h1>
						<h4> Find the right people to help you!</h4>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12 text-center">
						<form accept-charset="UTF-8" action="/search" method="get">
							<div class=" col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3  text-right">
								<div style="margin:0;padding:0;display:inline">
									<input name="utf8" type="hidden" value="✓">
								</div>
								<div class="input-group">
									<input id="user_search" name="user_search" type="text" value="" class="form-control">
									<span class="input-group-btn">
										<input type="submit" value="Search" class="btn btn-primary search-btn">
									</span>
					                
					            </div>							
							</div>
						</form>
					</div>
				<% else %>	<!-- Larger heading when user doesn't have upcoming interviews -->
					<div class="text-center col-md-12 col-sm-12 col-xs-12 jumbotron" style="background-color:white;">
						<h1> Need some Interview Help? </h1>
						<h3> Find people you want to talk to by searching for companies, positions, programs and more! </h3>
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="row">
									<form accept-charset="UTF-8" action="/search" method="get">
										<div class=" col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3  text-right">
											<div style="margin:0;padding:0;display:inline">
												<input name="utf8" type="hidden" value="✓">
											</div>
	            							<div class="input-group">
												<input id="user_search" name="user_search" type="text" value="" class="form-control">
												<span class="input-group-btn">
													<input type="submit" value="Search" class="btn btn-primary search-btn">
												</span>
					           				</div>								
										</div>
									</form>
								</div>
								<div class="row">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<h4> <%=Interview.count %> interviews from <%=Company.count %> different companies and counting. </h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			</div>
			<div class="row">	
				<div class="container-fluid upcoming-interview-container">
					<% if !@next_interviews.empty? %> <!-- For the upcoming interviews-->
						<% @next_interviews.each do |interview| %>
							<div class="col-md-4 col-sm-12 col-xs-12 upcoming-interview">
								<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 border2">
									<div class="row main-interview-info">
										<div class="col-md-12 col-sm-12 col-xs-12 border2 next-info">
											<div class="row title">
												<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 text-center">
													<h3 id="upcoming-title"> Upcoming Interview </h3>
												</div>
											</div>
											<div class="row days-left">
												<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12  border2 text-center" style="margin-bottom:10px;">
													<h4 class="upcoming-day" date="<%=interview.get_date%>">  </h4>
												</div>
											</div>
											<div class="row time" style="margin-bottom:10px;">
												<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 border2 text-center">
													<h4> <%= interview.interview_type %> </h4>
												</div>
											</div>
										</div>
									</div>
									<div class="row interview-info">
										<div class="container-fluid interview-container">
											<div class="row ">
												<div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-6 ">
												Company
												</div>
												<div class="col-md-6 col-sm-6 col-xs-6">
												<%= interview.company_name %>
												</div>

												<div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-6">
												Position
												</div>
												<div class="col-md-6 col-sm-6 col-xs-6">
												<%= interview.position %>
												</div>

												<div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-6">
												Date
												</div>
												<div class="col-md-6 col-sm-6 col-xs-6">
												<%= interview.get_date %>
												</div>

												<div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-6">
												Type
												</div>
												<div class="col-md-6 col-sm-6 col-xs-6">
												<%= interview.interview_type %>
												</div>											

											</div>
										</div>
									</div>
									<div class="row text-center upcoming-interview-buttons">
										<div class="container-fluid">
											<!-- Find Help button, does automatic search based on the given interview company name and position -->
											<form accept-charset="UTF-8" action="/search" method="get">
												<div class="col-md-6 col-sm-6 col-xs-6">
													<div style="margin:0;padding:0;display:inline">
														<input name="utf8" type="hidden" value="✓">
													</div>
										                <input id="user_search" name="user_search" type="text" value="<%=interview.company_name %> <%= interview.position %>" class="form-control" style="display:none;">							
												<input type="submit" value="Find Help" class="btn btn-success btn" value>
												</div>
											</form>
											<div class="col-md-6 col-sm-6 col-xs-6">
												<a href="<%= edit_user_interview_path(current_user,interview)%>"><button type="button" class="btn btn-warning"> Edit </button> </a>
											</div>
										</div>
									</div>						
								</div>
							</div>
						<% end %>
					<% else %> <!-- If user doesn't have upcoming interviews -->
					<% end %>
				</div>
			</div>
			<div class="row random-interview-title"> <!-- For the randomly selected interviews, shows whether or not user has upcoming interviews or not-->
				<div class="container-fluid text-center ">
					<h3> Check out some interviews your peers currently have!</h3>
				</div>
				<div class="container-fluid">
					<% @random_interviews.each do |interview| %>
						<div class="col-md-4 col-sm-4 col-xs-6">
							<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 border2 random-interview-container">
								<div class="row">
									<div class="container-fluid random-interview">
										<div class="row ">
											<div class="col-md-12 col-sm-12 col-xs-12 text-center">
												<h4><%= interview.company_name %></h4>
											</div>

											<div class="col-md-12 col-sm-12 col-xs-12 text-center">
												<h4><%= interview.position %></h4>
											</div>

											<div class="col-md-12 col-sm-12 col-xs-12 text-center">
												<h4><%= interview.interview_type %></h4>
											</div>											
										</div>
									</div>
								</div>		
							</div>
						</div>
					<% end %>					
				</div>
			</div>
		</div>
	</div>
</div>