<div id = "body">
    <div id = "content">
        <div class="tabbable">
            <!-- Tab Navigation -->
            <ul class="nav nav-tabs" id="companyTab">
                <li class="active">
                    <a data-toggle="tab" href="#company-name">facebook</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#extra"> + </a>
                </li>
            </ul>

            <div class="tab-content">
                            <div class="tab-pane active" id="company-name">
                    <div id="wrapper">
                        <div class="profile">
                            
                            <%= gravatar_for(@user) %>
                            <h3 class="name">
                                <%= @user.name %>
                            </h3>
                            <h4 class="position">
                                <%= @user.email %>
                            </h4>
                            <h4 class="interview">
                              <%= "Your Next interview is at #{@company.name}" if @user.has_active_interview? %>
                            </h4>
                            <!-- DO NOT HAVE LOCATION ENTITY -->
                        </div>
                    </div>
                </div>
                <div class="tab-pane active" id="company-name">
                    <div id="wrapper">
                    <% if !@relevant_users.nil? %>
                        <% @relevant_users.each do |user| %>
                        <div class="profile">
                            
                            <%= gravatar_for(user) %>
                            <h3 class="name">
                                <%= user.name %>
                            </h3>
                            <h4 class="position">
                                <%= user.email %>
                            </h4>
                            <h4 class="interview">
                              <%= "Next interview is at #{user.next_interview.company_name}" if user.has_active_interview? %>
                            </h4>
                            <!-- DO NOT HAVE LOCATION ENTITY -->
                        </div>
                        <% end %>
                      <% end %>
                    </div>
                </div>


			<div class="tab-pane" id="extra"> 

			</div>
		</div>
	</div>

</div>

 
<div id="footer">
	<div id="company-logo" class="pull-right" style="margin-right: 10px; height: 100%">
		<%= image_tag("YNCN-boxes-text.png") %>
	</div>
</div>
  
  <style type="text/css">

      # body{
      background: #f3faf5;
      }

      #content
      {
      margin:30px;
      margin-top: 5px;
      }

      .tabbable .tab-content
      {
      margin: 10px;
      }

      /* list of user available */

      #wrapper {
      width: 90%;
      }

      .profile {
      background: #e6eeec;
      width: 310px;
      height: 310px;
      display: block;
      margin: 5px;
      float:left;
      }

      .profile img {
      width: 175px;
      height: 175px;
      border: 5px solid white;
      display:block;
      margin: 15px auto;
      }

      .profile .name, .profile .position, .profile .interview{
      margin-left: 20px;
      margin-right: 20px;
      text-align: center;
      }

      .profile .name{
      font-size: 16pt;

      }

      #footer
      {
      height: 100px;
      width: 100%;
      padding: 20px;
      }

      #footer img
      {
      height:50px;
      }

  </style>




