<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Company Name", :style=>"width:25%; margin:1% 0 1% 0;" %>
    <%= f.text_field :name%>
  </div>
  <div class="field" >
    <%= f.label :industry, :style=>"width:25%; margin:1% 0 1% 0;" %>
    <%= f.text_field :industry %>
  </div>


  <div class="actions" style="margin: 2% 0 1% 0;">
    <%= f.submit "Create Company", class:"btn btn-warning", style:" border-radius:7px; margin:0; float:left;"%>
    <!-- What does btn, btn-warning do? --> 
  </div>
<% end %>
