<div class="row">
  <%= form_for(@company) do |f| %>
  <div class="col-md-12 text-left">
    <% if @company.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

        <ul>
        <% @company.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="col-md-12 field input-group" id="company_name">
    <label class=" col-md-4 control-label"> Company Name </label>
    <div class="col-md-8">

    <%= f.text_field :name, :class=>"form-control", :placeholder=>"e.g. XYZ Electronics"%>
    </div>
  </div>
  <div class="col-md-12 field input-group">
    <label class=" col-md-4 control-label" id="company_industry"> Industry </label>
    <div class="col-md-8">

    <%= f.text_field :industry, :class=>"form-control", :placeholder=>"e.g. Electronics" %>
    </div>
  </div>
  <div class="col-md-12 field input-group" id="company_location">
    <label class=" col-md-4 control-label input-group-a"> Location </label>
    <div class="col-md-8">
    <%= f.text_field :location, :class=>"form-control", :placeholder=>"e.g. Toronto, Ontario" %>
    </div>
  </div>
  <div class="col-md-12 field btn-group">
    <%= f.submit "#{params[:action]=="edit" ? "Save Changes" : "Add Company"}", class:"btn btn-success"%>
    <% if params[:action]=="edit" %>
      <a href="<%= company_path(@company) %>" class="btn btn-success" role="button">Show Company</a>
    <% end %>
    <a href="<%= companies_path %>" class="btn btn-warning" role="button" >Back</a>
  </div>
  <% end %>


</div>
