<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 id="company_title" class="text-center">Company List</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <% @companies.each do |company| %>
        <div class="company_container container-fluid border2 text-overflow">
          <a href="<%= company_path(company)%>" >
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-4 text-center" >
                <%= company.name %>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-4  text-center" >
                <%= company.industry unless company.industry ==nil%>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-4 text-center" >
                <%= company.users.uniq.count %> Connections
              </div>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <%= will_paginate @companies, :param_name=>:page %> 
  </div>
</div>
