
<!--
<p>
  <b>Name:</b>
  <%= @company.name %>
</p>
<p>
  <b>Industry:</b>
  <%= @company.industry %>
</p>
<p>
  <b>Number of Connections at <%= @company.name %>:</b>
  <%= @count %>
</p>
<p>
	<b> Interviews scheduled at <%= @company.name %>: </b>
	<br/>
	<% @interviews.each do |interview| %>
	<%= interview.user.name %>
	- 
	<%= interview.position %>
	<br/>
	<% end %>
</p>
<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %> -->

<div>
	<!-- <div style="width:50%; margin:0 auto;">
		<div id="info_left" style=" border:2px solid black; border-radius:7px; text-align:center; float:left; width:15%; padding-top:1.5%; padding-bottom:1.5%;">
			<%= @company.industry %> Industry
		</div>	

		<div style="width: 70%; float: left;  margin-bottom:3%;">
			<div id="circle" style="border:2px solid black; border-radius: 100%;text-align:center;  margin: 0 auto; background-color: #E1E1E1; ">
					<span style="position: relative;top: 45%; ">
						<h1 style="display:inline;"><%= @company.name %></h1>
					</span>
				<div style="border:2px solid black; background-color:white; border-radius:7px;">

				</div>
		</div>		
		</div>
		<div id="info_right" style="border:2px solid black; border-radius:7px; text-align:center; float:right; width:15%;   padding-top:1.5%; padding-bottom:1.5%;">
			Number of UofT Connections: <%= @count %>
		</div>
	</div> -->
	<div id="info_header" class="centered border2">
		<span class="text_center company_info">
			Industry: <%= @company.industry %> 
		</span>
		<span class="text_center company_name" >

			<%= @company.name %>
		</span>
		<span class="text_center company_info">
			<%= @count %> UofT Connections
		</span>
	</div>
	<div class="info_container">
		<div class="border2 text_center">
			<h3> Current Interviewees </h3>
			<% @company.latest_interviews[0,3].each do |interview| %>
			<%= interview.get_interviewee %> | <%= interview.position %>
			<br/>
			<% end %>


		</div>
		<div class="border2 text_center">
			<h3> Past Interviewees </h3>



		</div>
		<div class="border2 text_center">
			<h3> Past/Current Employees </h3>



			
		</div>
	</div>
</div>
