<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>
<p>
  <b>Industry:</b>
  <%= @company.industry %>
</p>
<p>
  <b>Number of Connections at <%= @company.name %>:</b>
  <%= @count %>
</p>

<p>
	<b> Connections at <%= @company.name %>: </b>
	<br/>
	<% @interviews.each do |interview| %>
	<%= interview.user.name %>
	- 
	<%= interview.position %>
	<br/>
	<% end %>
</p>

<button id="worked_here">
	Worked here before?
</button>
<%= render :partial => "users/interviews/company_form", :locals=>{:title =>"Your past connection", :form=>"worked_form", :time=>"work"} %>

<button id="interviewed_here">
	Interviewed here before?
</button>
<%= render :partial => "users/interviews/company_form", :locals=>{:title=>"Past interview", :form=>"interviewed_form",:time=>"interview"} %>

<hr/>


<% if can? :edit, @company %>
<%= link_to 'Edit', edit_company_path(@company) %> 
<% end %>|
<%= link_to 'Back', companies_path %>
