<p id="notice"><%= notice %></p>
<%= render partial: '/users/companies/work_form' if signed_in? %>
<p>
  <b>Name:</b>
  <%= @company.name %>
</p>
<p>
  <b>Industry:</b>
  <%= @company.industry %>
</p>
<p>
  <b>Number of Connections at <%= @company.name %>:</b>
  <%= @company.connections %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
