<!DOCTYPE html>
<html>
<head>
  <title>InsiteUofT</title>  
  <!-- Import google fonts for home page font -->
  <!-- include normalize css to unify styling in different browser -->
  <%= stylesheet_link_tag    "normalize", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'/>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <style type="text/css">
  	
  </style>

</head>
<body>
	<%= render 'layouts/shared/header' %>
	<!-- LC: comment out for now.. what is messages?! -->
	<%= render 'layouts/shared/messages' %> 
	<!-- where all content will be rendered into -->
	<%= yield %>
	<%= render 'layouts/shared/footer' %>
	<%= debug(params) if Rails.env.development? %>
</body>
</html>
