
 
<div class = "content">
	<!-- Error Checking Message -->
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		<% if @user.errors.any? %>
		<div  class="row" style="width:100%">
				<div class = "col-md-2"></div>
				<div class = "col-md-8 alert alert-danger">
					<b><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved</b>
				</div>
				<div class = "col-md-2"></div>
			</div>
			<% @user.errors.full_messages.each do |msg| %>
				<div  class="row" style="width:100%">
					<div class = "col-md-2"></div>
					<div class="col-md-8 alert alert-danger">
						<%= msg %>
					</div>
					<div class = "col-md-2"></div>
				</div>
			<% end %>
		<% end %>
		
		<!-- Title -->
		<div  class="row" style="width:100%">
		<div class = "col-md-1"></div>
		<div class = "col-md-10" style="padding: 10px 50px;"><h1 style="font-size: 30px;"> Registration  </h1></div>
		<div class = "col-md-1"></div>
		</div>
		
		<div id="register-form-content" class="row">
		<!-- add span 1 as placeholder -->
		<div class = "col-md-1"></div>
		<div class = "register-form col-md-5">          
				<div class="form-group">
					<%= f.email_field :email, :autofocus => true, class:"form-control input-lg", placeholder:"Your UTOR email address" %>
				</div>
				<div class="form-group">
					<%= f.password_field :password, class:"form-control input-lg", placeholder:"Password"%>
				</div>
				<div class="form-group">
					<%= f.password_field :password_confirmation, class:"form-control input-lg", placeholder:"Confirm Password"%>
				</div>
				<div class="form-group">
					<%= f.check_box :registerterms %> I Agree To The Terms & Conditions<br />
				</div>
			<div>
		</div>
		</div>
		<div class = "register-form col-md-5">
				<div class="form-group">
					<%= f.text_field :name, class:"form-control input-lg", placeholder:"Full Name"%>
				</div>
				<div class="form-group">
					<%= f.number_field :year, class:"form-control input-lg", placeholder:"Graduating  Year"%>
				</div>
				<div class="form-group">
					<%= f.text_field :faculty, class:"form-control input-lg", placeholder:"Faculty"%>
				</div>
				<div class="form-group">
					<%= f.number_field :phone , class:"form-control input-lg", placeholder:"Phone Number (Optional)"%>
				</div>
				<form>
		<div class=" form-group">
			<%= f.submit "Sign up", class:"btn btn-lg btn-warning pull-right"%>
			</div>
			<!-- <div><%= f.submit "Sign up" %></div> -->
		</form>
			</div>			
		<!-- add span 1 as place holder -->
		<div class = "col-md-1"></div>
		</div>
		
		</div>
				
	<% end %>
 </div>
 
 <div id="footer">

        <div id="company-logo" class="pull-right" style="margin-right: 10px; height: 100%">
            <%= image_tag("YNCN-boxes-text.png" ,:style=>"width:200px")%>
            </div>
    </div>
  
<!-- <%= render "devise/shared/links" %> -->

<style type="text/css">
	.register-form{
		padding: 10px 50px;
	}
	
	.content{
	background-color: #f3faf5;
	
	}
	
	#register-form-content
	{
		width: 100%;
		padding-bottom: 100px;
	}
	#footer{
            height: 100px;
            width: 100%;
            padding: 20px;
            }
            
            #footer img{
            width: 200px;
            }

</style>

