

<!-- Must create new company when user enters a new interview for a company that does not yet exist -->
<%= form_for(@interview) do |f| %>
    <% if @interview.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interview.errors.count, "error") %> prohibited this interview from being saved:</h2>

      <ul>
      <% @interview.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Company Name", :style=>"width:25%; margin:1% 0 1% 0;" %>
    <%= f.text_field :company_name%> 
  </div>
  <div class="field">
    <%= f.label "Position", :style=>"width:25%; margin:1% 0 1% 0;" %>
    <%= f.text_field :position %>
    <%= f.hidden_field :user_id, :value => current_user.id %> 
    <!-- Use above to send value into newly created object by default. -->
    <%= f.hidden_field :company_id %> 
  </div>

 <div class="field" %>
    <%= f.label "Type", :style => "width:25%; margin: 1% 0 1% 0 ;" %>
    <%= f.select(:interview_type, [["Summer"],["PEY"],["Full Time"]]) %>
  </div>
  <div class="field">
    <%= f.label "When is your Interview?", :style=>" margin:1% 0 1% 0;" %>

    <%= f.text_field :date, :class=>"datepicker"%>
   
  </div>
  <div class="field">
    <%= f.label "Status of Interview?", :style=>" margin:1% 0 1% 0;" %>
    <!-- Maybe add in third status to signify hired? -->
    <%= f.select(:status, [["In Progress"],["Finished"]])%>
    
  </div>
    <div class="actions" style="margin: 2% 0 1% 0;">
    <%= f.submit "#{params[:action]=="edit" ? "Save Changes" : "Save Interview"}", id:"btn-submit-interview", class:"btn btn-warning", style:" border-radius:7px; margin:0; float:left;"%>
    </div>
<% end %>
