<div class="width60" id="interview_container">
  <h1 class="float_l inline"> <%= @user.name %>'s Interviews </h1>
  <select id="interview_select" class="float_r" name="interview_select">
    <option id="interview_1" value="upcoming interviews"> Upcoming Interviews</option>
    <option id="interview_2" value="finished interviews"> Past Interviews</option>
    <option id="interview_12" value="All Interviews"> All Interviews</option>
  </select>
  <div id="interview_listing">
	  <% if !@interviews.empty? %>
	    <% @interviews.each do |interview| %>
		    <a href="<%=interview_path(interview) %>" class="interview_link">
		      <div class="interview_show inline_block status_<%= interview.status %> border2 width100">
		            <span class="float_l inline_block text-center">
		              <%= interview.company_name %>
		            </span>
		           <span class="float_l inline_block text-center">
		              <%= interview.position %>
		            </span>
		            <span class="float_l inline_block text-center">
		              <%= interview.interview_type %>
		            </span>
		            <span class="float_l inline_block text-center">
		              <%= interview.get_date %>
		            </span>
		      </div>
		  	</a>
	  	<% end %>
	  <% else %>
		<div id ="no_interview" class="width100">
			<span class="text-center">
			Looks like you don't have any interviews!
			</span>
		</div>
	  <% end %>
  </div>
  <%if @interviews.empty? %>
	  <div id="empty_space" >
	  </div>
  <% end %>
  <%= will_paginate @interviews %>
</div>