<div class="width60" id="interview_container">
  <h1 class="float_l inline"> <%= @user.name %>'s Interviews </h1>
  <select id="interview_select" class="float_r" name="interview_select">
    <option id="interview_1" value="upcoming interviews"> Upcoming Interviews</option>
    <option id="interview_2" value="finished interviews"> Past Interviews</option>
    <option id="interview_12" value="All Interviews"> All Interviews</option>
  </select>
  <div id="interview_listing">
	  <% if !@interviews.empty? %>
	    <% @interviews.each do |interview| %>
		    <a href="<%=interview_path(interview) %>" class="interview_link">
		      <table class="width100">
		          <tr class="interview_show inline_block status_<%= interview.status %> border2 width100">
		            <td class="float_l inline_block text-center">
		              <%= interview.company_name %>
		            </td>
		           <td class="float_l inline_block text-center">
		              <%= interview.position %>
		            </td>
		            <td class="float_l inline_block text-center">
		              <%= interview.interview_type %>
		            </td>
		            <td class="float_l inline_block text-center">
		              <%= interview.get_date %>
		            </td>
		           <!-- <td style="text-align:center; width:24%; display:inline-block;">
		              <%= link_to 'Edit', edit_interview_path(interview) %>
		              <br/>
		              <%= link_to 'Delete', interview, method: :delete, data: { confirm: 'Are you sure?' } %>
		            </td> -->
		          </tr>
		      </table>
		  	</a>
	  	<% end %>
	  <% else %>
				<table id ="no_interview" class="width100">
					<tr  class="border2 width100 inline_block margin_1">
						<td class="text-center">
						Looks like you don't have any interviews!
						</td>

		          </tr>
		      </table>
	  <% end %>
  </div>
  <%if @interviews.empty? %>
	  <div id="empty_space" style="width: 800px; height: 400px;">
	  </div>
  <% end %>
  <%= will_paginate @interviews %>
</div>