<p id="notice"><%= notice %></p>

<p>
  <b>Company name:</b>
  <%= @interview.company_name %>
</p>

<p>
  <b>Position:</b>
  <%= @interview.position %>
</p>




<%= link_to 'Edit', "/users/#{@user.id}/interviews/#{@interview.id}/edit" %> |
<%= link_to 'Back', interviews_path %>
