</div>
<div class='container'>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 border2 container_margin_topbottom container_padding_bottom">
			<div class="row">
				<div class="container-fluid text-left col-md-offset-2">
				<h1> <%= current_user==params[:user_id] ? "Your Interview" : User.find(params[:user_id]).name + "'s Interview" %> </h1>
				</div>
			</div>
			<div class="row ">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-4 col-md-offset-2 text-left">
							<b>Company</b>
						</div>
						<div class="col-md-6 col text-left">
						    <%= link_to @interview.company_name, company_path(@interview.company_id) %>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-md-offset-2 text-left">
							<b>Position</b>
						</div>
						<div class="col-md-6 col text-left">
						    <%= @interview.position %>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-md-offset-2 text-left">
							<b>Type</b>
						</div>
						<div class="col-md-6 col text-left">
						    <%= @interview.interview_type%>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-md-offset-2 text-left">
							<b>Status</b>
						</div>
						<div class="col-md-6 col text-left" id="status_content" class="attribute_value" val="<%=@interview.status %>">
						    <!-- <%= @interview.status %> -->
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-md-offset-2 text-left">
							<b>Date</b>
						</div>
						<div class="col-md-6 col text-left">
						    <%= @interview.get_date %>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-md-offset-2 btn-group">
						<% if can? :manage, User.find(params[:user_id]) %>
						  <%= link_to 'Edit Interview', edit_user_interview_path(current_user,@interview), :class=>"btn btn-success"%>
						  <%= link_to 'Delete Interview', user_interview_path(current_user,@interview), :data => {:confirm => "Are you sure?"}, :method =>:delete, :class=>"btn btn-danger"%>
		  				<% end %>
					  	<!-- <a href="<%= user_interview_path(params[:user_id]) %>" ><button type="button" class="btn btn-warning"> Back </button></a> -->
					  	<%= link_to 'Back', user_path(params[:user_id]), :class=>"btn btn-warning"%>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>