<div id="interview_container" class="container border2 width60 centered">
	<div id="interview_content">
		<h1><%= current_user==@interview.user_id ? "Your Interview" : User.find(@interview.user_id).name + "'s Interview" %> </h1>


	  <div class="field">
	    <div class="attribute_label">
	    Company
	    </div>
	    <div class="attribute_value"> <!-- <%= @interview.company_name  %> -->
	    <%= link_to @interview.company_name, company_path(@interview.company_id) %>
	    </div>
	  </div>
	  <div class="field" >
	    <div class="attribute_label">
	    Position
	    </div>
	    <div class="attribute_value">
	    <%= @interview.position %>
	    </div>
	  </div>
	  <div class="field" >
	    <div class="attribute_label">
	    Type
	    </div>
	    <div class="attribute_value">
	    <%= @interview.interview_type %>
	    </div>
	  </div>
	  <div id="status" >
	    <div class="attribute_label">
	    Status
	    </div>
	    <div id="status_content" class="attribute_value" val="<%=@interview.status %>">
	    
	    </div>
	  </div>
	  <div class="field" >
	    <div class="attribute_label">
	    Date
	    </div>
	    <div class="attribute_value">
	    <%= @interview.get_date %>
	    </div>
	  </div>

	  <% if can? :manage, User.find(@interview.user_id) %>

	  <%= link_to 'Edit Interview', edit_interview_path, :class=>"btn btn-edit border_radius7"%>
	  <%= link_to 'Delete Interview', interview_path(@interview), :data => {:confirm => "Are you sure?"}, :method =>:delete, :class=>"btn btn-delete border_radius7"%>
	  <% end %>
		
		<%= link_to 'Back', interviews_path, :class=>"btn btn-warning btn-back border_radius7"%>

	</div>


</div>